<div *ngIf="messageService.messages.length">

  <h2>Messages</h2>
  <button type="button" class="clear"
  (click)="messageService.clear()">Enlever le message</button>
  <div *ngFor="let message of messageService.messages"> {{message}}</div>
</div>
